.dialog-pane {
    -fx-border-color: rgb(17, 145, 213);
    -fx-border-width: 2px;
    -fx-font: bold italic 12pt "LucidaBrightDemiBold";
}

.dialog-pane > .button-bar > .container {
    -fx-background-color: rgb(17, 145, 213);
}

.dialog-pane .content {
    -fx-background-color: derive(rgb(17, 145, 213), 50%);
}

.dialog-pane .text-field {
    -fx-background-color: derive(rgb(17, 145, 213), 50%);
    -fx-border-style: solid;
}

.dialog-pane > .content.label {
    -fx-padding: 0.5em 0.5em 0.5em 0.5em;
    -fx-background-color: derive(rgb(17, 145, 213), 50%);
    -fx-text-fill: black;
    -fx-alignment: center;
}

.dialog-pane .header-panel {
    -fx-background-color: rgb(17, 145, 213);
}

.dialog-pane .header-panel .label {
    -fx-background-color: derive(rgb(17, 145, 213), 50%);
    -fx-background-radius: 10px;
    -fx-text-fill: black;
    -fx-alignment: center;
}

.dialog-pane .button {
    -fx-background-color: derive(rgb(17, 145, 213), 50%);
    -fx-text-fill: black;
    -fx-wrap-text: true;
    -fx-effect: dropshadow(three-pass-box, yellow, 10.0, 0.0, 0.0, 0.0);
    -fx-cursor: hand;
}

.dialog-pane .button:hover {
    -fx-background-color: white;
    -fx-text-fill: rgb(17, 145, 213);
}